@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

/*
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

html, body, div, span, a, img, ul, li, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav{
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Basic */

body {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #888;
}



a {
	text-decoration: none;
	color: inherit;
	border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
	-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	outline: 0;
}

a:hover {
	color: #E27689;
	border-bottom-color: rgba(255, 255, 255, 0);
}

ul {
	margin-bottom: 2em;
}


/* Image */

.image {
	display: inline-block;
	border: 0;
}

.image img {
	display: block;
	width: 100%;
}

.image.avatar48 {
	width: 48px;
	height: 48px;
	background: #f00;
}

.image.avatar48 img {
	width: 48px;
	height: 48px;
}

/* List */

ul.icons {
	cursor: default;
}

ul.icons li {
	display: inline-block;
}

ul.icons a {
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 0;
}


/* Button */

/* Item */

/* Icons */

.icon {
	text-decoration: none;
}

.icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon > .label {
	display: none;
}

/* Header */

#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background: #222629 url("images/overlay.png");
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	text-align: right;
	top: 0;
	width: 375px;
}

#header .top {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

#header .bottom {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	padding: 1.5em 0 0.75em 0;
}

#header .bottom > :last-child {
	margin-bottom: 0;
}

#header .icons {
	font-size: 0.8em;
	text-align: center;
}

#header .icons a {
	color: #41484c;
	-moz-transition: color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out;
}

#header .icons a:hover {
	color: #fff;
}

#logo {
	position: relative;
	margin: 1.75em 1.5em 1.5em 1.5em;
	min-height: 48px;
	cursor: default;
}

#logo h1 {
	position: relative;
	color: #fff;
	font-weight: 600;
	font-size: 1em;
	line-height: 1em;
}

#logo p {
	position: relative;
	display: block;
	font-size: 0.6em;
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.25em;
	margin: 0.5em 0 0 0;
}

#logo .image {
	position: absolute;
	left: 0;
	top: 0;
}

#nav ul {
	margin-bottom: 0;
}

#nav ul li a {
	display: block;
	padding: 0.5em 1.5em 0.5em 1.5em;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	outline: 0;
	border: 0;
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}

#nav ul li a span {
	position: relative;
	display: block;
	font-size: 0.8em;
}

#nav ul li a span:before {
	position: absolute;
	left: 0;
	color: #41484c;
	text-align: center;
	width: 1.25em;
	line-height: 1.75em;
}

/* Footer */

/* Main */

/* Wide */

@media screen and (min-width: 961px) and (max-width: 1880px) {

	/* Basic */

	body {
		font-size: 17pt;
	}

	/* Header */

	#header {
		width: 300px;
	}

	/* Footer */

	/* Main */

}

/* Normal */

@media screen and (min-width: 961px) and (max-width: 1620px) {

	/* Main */

}

/* Narrow */

@media screen and (min-width: 961px) and (max-width: 1320px) {

	/* Basic */

	body {
		font-size: 16pt;
	}

	/* List */

	ul.icons li a {
		width: 1.75em;
	}

	/* Item */

	/* Header */

	#header {
		width: 20%;
	}

	#logo .image {
		position: relative;
		margin: 0 0 0.5em 0;
	}

	#nav ul li a {
		font-size: 0.8em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	#nav ul li a span {
		padding-right: 2.25em;
	}

	#nav ul li a span:before {
		left: 100%;
		margin-left: -1.25em;
		line-height: 2.25em;
	}

	/* Footer */

	/* Main */

}

/* Narrower */

@media screen and (max-width: 960px) {

	/* Basic */

	html, body {
		overflow-x: hidden;
	}

	body {
		font-size: 16pt;
	}

	/* Item */

	/* List */

	ul.icons a {
		width: 1.75em;
		font-size: 1.25em;
	}

	/* Header */

	#header {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translateX(-275px);
		-webkit-transform: translateX(-275px);
		-ms-transform: translateX(-275px);
		transform: translateX(-275px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		-webkit-overflow-scrolling: touch;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		width: 275px;
		background: #222729 url("images/overlay.png");
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
	}

	#header .top {
		position: relative;
	}

	#header .bottom {
		border-top: solid 1px rgba(255, 255, 255, 0.05);
		box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
		padding-top: 2em;
		margin-top: 2em;
		position: relative;
	}

	#logo {
		margin: 1.5em 1.25em 1.25em 1.25em;
	}

	#nav ul li a {
		padding: 0.5em 1.25em 0.5em 1.25em;
	}

	/* Footer */

	/* Main */

}

/* Mobile */

@media screen and (max-width: 736px) {

	/* Basic */

	body {
		font-size: 14pt;
	}

	/* List */

	ul.icons a {
		width: 2em;
		font-size: 1.25em;
	}

	/* Main */

	/* Footer */

}